{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>研发部专用主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static 'layuiadmin/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/bioplot.css' %}" media="all">
</head>

<style>
    .home_model {height: 200px; padding: 4px}
    .img {margin-left: 18px; margin-top: 15px}
    .label {font-size:20px; text-align: center; margin-top: 10px}

    img {
        image-rendering: -moz-crisp-edges; /* Firefox */
        image-rendering: -o-crisp-edges; /* Opera */
        image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }

</style>
<body>

<div class="layui-fluid">

    <div id="plot" class="layui-row  layui-col-space10">
        <div class="layui-col-md3">
            <div class="layui-bg-white home_model">
                <a lay-href="{% url 'plot_rd_qc_boxplot' %}" lay-text="QC箱线图" target="_blank">
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-xs layui-bg-blue">PLOT</button>
                    </div>
                    <div class="home_model_img"><img src="{% static 'img/label/plot_mut_cnv.png' %}" alt="Mut Cnv" width="350" height="120"></div>
                    <div class="home_model_label">QC箱线图</div>
                </a>
            </div>
        </div>

        <div class="layui-col-md3">
            <div class="layui-bg-white home_model">
                <a lay-href="{% url 'plot_rd_qc_lineplot' %}" lay-text="QC折线图" target="_blank">
                    <div><button type="button" class="layui-btn layui-btn-xs layui-bg-blue">PLOT</button></div>
                    <div class="home_model_img"><img src="{% static 'img/label/plot_hrd_density.png' %}" alt="hrd density" width="350" height="120"></div>
                    <div class="home_model_label">QC折线图</div>
                </a>
            </div>
        </div>

    </div>

</div>


<script src="{% static '/layuiadmin/layui/layui.all.js' %}"></script>
<script>
    layui.config({
        base: '{% static "layuiadmin/" %}'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'laydate'], function(){
        var $ = layui.$
            ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;
    
    form.render(null, 'component-form-group');

    laydate.render({
      elem: '#LAY-component-form-group-date'
    });
    
    /* 自定义验证规则 */
    form.verify({
      title: function(value){
        if(value.length < 5){
          return '标题至少得5个字符啊';
        }
      }
      ,pass: [/(.+){6,12}$/, '密码必须6到12位']
      ,content: function(value){
        layedit.sync(editIndex);
      }
    });
    
    /* 监听指定开关 */
    form.on('switch(component-form-switchTest)', function(data){
      layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
        offset: '6px'
      });
      layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    });
    
    /* 监听提交 */
    form.on('submit(component-form-demo1)', function(data){
      parent.layer.alert(JSON.stringify(data.field), {
        title: '最终的提交信息'
      })
      return false;
    });
  });
  </script>
</body>
</html>
